.one{
    background:rgb(71, 16, 17);
    color: #fff;
    text-align: center;
    padding: auto;
   
    
}

.one h1{
    font-size: 66px;
    margin: 0;
    font-family: Helvetica;
    text-align: center;
    
    padding-top: 42%;
    
}

.one p{
    padding: 0 15%;
    font-size: 26px;
    font-size: helvetica;
    margin-top: 10%;

}

.one a{
    background: #7918267a;
    color:#fff;
    text-decoration: none;
    padding: 10px 40px;
    display: inline-block;
    font-family: Helvetica;
    

}


.four{
    background: url(img1.jpeg);
    background-size: cover;
    background-position: center center;
}

.two{
    background: url(img3.jpeg);
    background-size: cover;
    background-position: center center;
}

.five{
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(img4.jpeg);
    background-size: cover;
    background-position: center center;
    text-align: center;
    color: #fff;
    justify-content: center ;
    


}

.five h2{
    font-size: 42px;
    color:rgb(255, 255, 255) ;
    font-family: Helvetica;
    margin: 0;
    text-align: center;
    padding-top: 30%;

}

.five p{
    padding: 0 15%;
    font-size: 24px;
    text-align: justify;
    font-family: Helvetica;
    margin-top: 10%;
    
    

}

.three{
    background-image: url(img2.jpeg);
    background-size: cover;
    background-position: center center;
    
     
}

.six{
    text-align: center;
    margin-top: 40%;

}

.six h2{
    text-align: center;
    font-family: helvetica;
    font-size: 34px;
    margin-top: 40%;

}
.six input{
    width: 350px;
    margin-bottom: 20px;
    height: 30px;
    border: 1px solid #000;
    align-items: center;
    justify-content: center;
    margin-right: 12px;

    

}

.six a{
    display: block;
    text-decoration: none;
    background: #000;
    width: 350px;
    margin: 0 auto;
    color: #fff;
    padding: 10px 0;
    

}